export(ggphylo)
export(is.tree)
export(label)
export(leaves)
export(nodes)
export(order.nodes.visually)
export(sort.df.by.tree)
export(tags)
export(theme_phylo_black)
export(theme_phylo_blank)
export(tree.branch.length)
export(tree.child.nodes)
export(tree.depth.to.root)
export(tree.extract.clade)
export(tree.extract.subtree)
export(tree.find)
export(tree.foreach)
export(tree.get.label)
export(tree.get.root)
export(tree.get.tag)
export(tree.get.tags)
export(tree.has.tags)
export(tree.label.for.node)
export(tree.layout)
export(tree.length.to.root)
export(tree.load.data)
export(tree.mean.path.length)
export(tree.node.with.label)
export(tree.normalize.branchlengths)
export(tree.parent.node)
export(tree.read)
export(tree.read.nhx)
export(tree.remove.leaf)
export(tree.remove.node.labels)
export(tree.scale.by)
export(tree.scale.to)
export(tree.set.label)
export(tree.set.tag)
export(tree.strip.branchlengths)
export(tree.total.branch.length)
export(tree.translate)
importFrom(plyr,rbind.fill)
S3method(as.character,phylo)
S3method(label,phylo)
S3method(labels,phylo)
S3method(tags,phylo)
